@model CartSummaryViewModel

<div>
    <p>toplam: @Model.Cart.Total</p>
    <p><a  class="btn btn-xs btn-info" asp-controller="Cart" asp-action="List">Sepete Git</a></p>
    @foreach (var item in Model.Cart.CartLines)
    {
        <div>@item.Product.ProductName <span class="badge">@item.Quantity</span></div>
    }
</div>