<div class="newsletter-widget text-left">
    <div class="form-inline">
        <input type="text" class="form-control" placeholder="Bülten için Eposta adresinizi giriniz">
        <button type="submit" class="btn btn-primary">Abone ol</button>
    </div>
</div><!-- end newsletter -->
