<div class="widget">
    <h2 class="widget-title">Popüler Kategoriler</h2>
    <div class="link-widget">
        <ul>
            <li><a href="#">Marketing <span>(21)</span></a></li>
            <li><a href="#">SEO Service <span>(15)</span></a></li>
            <li><a href="#">Digital Agency <span>(31)</span></a></li>
            <li><a href="#">Make Money <span>(22)</span></a></li>
            <li><a href="#">Blogging <span>(66)</span></a></li>
        </ul>
    </div><!-- end link-widget -->
</div><!-- end widget -->