<div class="custombox prevnextpost clearfix">
    <div class="row">
        <div class="col-lg-6">
            <div class="blog-list-widget">
                <div class="list-group">
                    <a href="tech-single.html" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="w-100 justify-content-between text-right">
                            <img src="/upload/tech_menu_19.jpg" alt="" class="img-fluid float-right">
                            <h5 class="mb-1">5 Beautiful buildings you need to before dying</h5>
                            <small>Önceki yazı</small>
                        </div>
                    </a>
                </div>
            </div>
        </div><!-- end col -->

        <div class="col-lg-6">
            <div class="blog-list-widget">
                <div class="list-group">
                    <a href="tech-single.html" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="w-100 justify-content-between">
                            <img src="/upload/tech_menu_20.jpg" alt="" class="img-fluid float-left">
                            <h5 class="mb-1">Let's make an introduction to the glorious world of history</h5>
                            <small>Sonraki yazı</small>
                        </div>
                    </a>
                </div>
            </div>
        </div><!-- end col -->
    </div><!-- end row -->
</div><!-- end author-box -->