
@{
    ViewData["Title"] = "İletişim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-title lb single-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <h2><i class="fa fa-envelope-open-o bg-orange"></i> Bize yazın <small class="hidden-xs-down hidden-sm-down"> @await Component.InvokeAsync("Param", new { key = "ContactHeader" }) </small></h2>
            </div><!-- end col -->
            <div class="col-lg-4 col-md-4 col-sm-12 hidden-xs-down hidden-sm-down">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/Home">Anasayfa</a></li>
                    <li class="breadcrumb-item active">İletişim</li>
                </ol>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end page-title -->

<section class="section wb" id="vueApp">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="page-wrapper">
                    <div class="row">
                        <div class="col-lg-5">
                            @await Component.InvokeAsync("Param", new { key = "ContactDescription" })
                        </div>
                        <div class="col-lg-7">
                            <div class="form-wrapper">
                                <input type="text" class="form-control" v-model="name" placeholder="Adınız" />
                                <input type="text" class="form-control" v-model="email" placeholder="E-Posta adresiniz" />
                                <input type="text" class="form-control" v-model="phone" placeholder="Telefon" />
                                <input type="text" class="form-control" v-model="subject" placeholder="Konu" />
                                <textarea class="form-control" v-model="message" placeholder="Mesajınız"></textarea>
                                <button :disabled="disabledButton==true" class="btn btn-primary" v-on:click="sendMessage">Gönder <i class="fa fa-envelope-open-o"></i></button>
                            </div>
                        </div>
                    </div>
                </div><!-- end page-wrapper -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
    <div class="alert alert-success" style="display:none;">
        <strong> {{response.message}} </strong>
    </div>
</section>

<script>
    var app = new Vue({
        el: '#vueApp',
        data: {
            name: '',
            email: '',
            phone: '',
            subject: '',
            message: '',
            response: '',
            disabledButton: false
        },
        methods: {
            sendMessage: function () {
                this.disabledButton = true;
                this.response = "Mesajınız iletiliyor.."

                $.ajax({
                    method: "post",
                    url: "/Contact/Create",
                    data: {
                        Name: this.name,
                        Email: this.email,
                        Phone: this.phone,
                        Subject: this.subject,
                        message: this.message,
                    },
                    success: (data) => {
                        console.log(data);
                        if (data.success)
                            this.response = data;
                        else
                            this.disabledButton = false;
                        $('.alert').fadeIn();
                    }
                });
            }
        }
    })
    //app.message = 'Bye!'
</script>
