@model MenuViewModel
<div class="widget">
    <h2 class="widget-title">Kurallar</h2>
    <div class="link-widget">
        <ul>
            @foreach (var item in Model.Menus)
            {
                <li><a href="@item.Href">@item.Name</a></li>
            }
        </ul>
    </div><!-- end link-widget -->
</div><!-- end widget -->