@model PostCommentViewModel
<div class="custombox clearfix" id="vueComment">
    <h4 class="small-title">Leave a Reply</h4>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-wrapper">
                <input type="text" class="form-control" v-model="name" placeholder="Adınız *">
                <input type="text" class="form-control" v-model="email" placeholder="E-Posta adresiniz *">
                <input type="text" class="form-control" v-model="web" placeholder="Website">
                <textarea class="form-control" v-model="comment" placeholder="Yorumunuz *"></textarea>
                <button class="btn btn-primary" :disabled="disabledButton==true" v-on:click="sendComment(@Model.Comment.PostId)">Gönder</button>
            </div>
        </div>
    </div>
    <div class="alertSucc alert alert-success mt-2" style="display:none;">
        <strong> {{response.message}} </strong>
    </div>
    <div class="alertErr alert alert-danger mt-2" style="display:none;">
        <strong> {{error}} </strong>
    </div>
</div>
<script src="~/js/vuejs/CommentVj.js"></script>