<div class="custombox clearfix">
    <h4 class="small-title">3 Comments</h4>
    <div class="row">
        <div class="col-lg-12">
            <div class="comments-list">
                <div class="media">
                    <a class="media-left" href="#">
                        <img src="/upload/author.jpg" alt="" class="rounded-circle">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading user_name">Amanda Martines <small>5 days ago</small></h4>
                        <p>Exercitation photo booth stumptown tote bag Banksy, elit small batch freegan sed. Craft beer elit seitan exercitation, photo booth et 8-bit kale chips proident chillwave deep v laborum. Aliquip veniam delectus, Marfa eiusmod Pinterest in do umami readymade swag. Selfies iPhone Kickstarter, drinking vinegar jean.</p>
                        <a href="#" class="btn btn-primary btn-sm">Reply</a>
                    </div>
                </div>
                <div class="media">
                    <a class="media-left" href="#">
                        <img src="/upload/author_01.jpg" alt="" class="rounded-circle">
                    </a>
                    <div class="media-body">

                        <h4 class="media-heading user_name">Baltej Singh <small>5 days ago</small></h4>

                        <p>Drinking vinegar stumptown yr pop-up artisan sunt. Deep v cliche lomo biodiesel Neutra selfies. Shorts fixie consequat flexitarian four loko tempor duis single-origin coffee. Banksy, elit small.</p>

                        <a href="#" class="btn btn-primary btn-sm">Reply</a>
                    </div>
                </div>
                <div class="media last-child">
                    <a class="media-left" href="#">
                        <img src="/upload/author_02.jpg" alt="" class="rounded-circle">
                    </a>
                    <div class="media-body">

                        <h4 class="media-heading user_name">Marie Johnson <small>5 days ago</small></h4>
                        <p>Kickstarter seitan retro. Drinking vinegar stumptown yr pop-up artisan sunt. Deep v cliche lomo biodiesel Neutra selfies. Shorts fixie consequat flexitarian four loko tempor duis single-origin coffee. Banksy, elit small.</p>

                        <a href="#" class="btn btn-primary btn-sm">Reply</a>
                    </div>
                </div>
            </div>
        </div><!-- end col -->
    </div><!-- end row -->
</div><!-- end custom-box -->