<div class="row">
    <div class="col-lg-12">
        <div class="banner-spot clearfix">
            <div class="banner-img">
                <img src="/upload/banner_01.jpg" alt="" class="img-fluid">
            </div><!-- end banner-img -->
        </div><!-- end banner -->
    </div><!-- end col -->
</div><!-- end row -->